.btnContainer {
  position: relative;
  top: 0;
  right: 0;
  .btn {
    text-align: center;
    border: 0;
    border-radius: 17px;
    height: 35px;
    min-width: 70px;
    padding: 0 20px;
    color: #5c6370;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    background-color: #f3f3f7;

    &:hover {
      color: black;
      cursor: pointer;
      background-color: #eeeef5;
    }
  }

}