.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .authContainer {
    padding: 20px;
    width: 500px;
    min-height: 500px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}