.foodContainer {

  &:hover {
    .UDFood {
      visibility: visible;
    }
  }

  .UDFood {
    position: relative;
    top: 25px;
    left: 228px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    visibility: hidden;

    width: 50px;



    .editFood, .removeFood {
      &:hover {
        cursor: pointer;
      }
    }

    .editFood {
      fill: #f8bf58;

      &:hover {
        fill: #e19101;
      }
    }

    .removeFood {
      fill: #ef7575;

      &:hover {
        fill: #bb0303;
      }
    }
  }
}

.image {
  img {
    width: 260px;
    height: 260px;
  }
}

.favoritesAndViews {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  .favAndViews {
    display: flex;
    align-self: center;
    .svg {
      margin-right: 2px;
      color: #282c34;
    }
  }
}




