.title {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  .anotherBtn {
    background: #0a800a;
    &:hover {
      background: #096c09;
    }
  }
}